/****** Main Styling ******/
h1 {
	font-size: 3em;
	margin-top: 5%;
}

.h1-pad {
	margin: 5%;
}

h2 {
	margin-left: 20px;
	color: #727272;
}

html, body {
  	min-height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
	background: URL('/public/img/night_background_base.png') no-repeat fixed;
  	background-size: 100%;
	color: rgb(27, 38, 53);
  	width: 100%;
  	z-index: 0;
}

#welcome {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
}

.menu, button {
	text-decoration: none;
	padding: 15px;
	margin: 20px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	font-size: 1.2em;
}

.menu:visited {
	color: #ffffff;
}

.menu:hover {
	color: #727272;
}

.menu:active {
	color: #727272;
}

.welcome-container {
	margin: 15% 0%;
}

.welcome-container a {
	color: #ffffff;
}

.container { 
	position: relative;
	z-index: 9;
	width: 100%;
	margin-top: 800px;
		/* fallback for older browsers */
	background: rgb(229, 229, 229);
	padding-bottom: 100px;
	/* for chrome, safari, ie, firefox */
	background: -webkit-linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	background: -moz-linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	background: -o-linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	background: linear-gradient(to bottom, #e5e5e5, #fcfcfc);
}



#prompt h1 {
	margin-left: 10%;
}


#prompt {
	background: rgb(229, 229, 229);
	height: auto;
	color: rgb(27, 38, 53);
}

.bar-row a {
	color: rgb(27, 38, 53);
}


#search-form input {
	height: 60px;
	width: 70%;
	position: relative;
	margin-left: 10%;
	font-size: 1.5em;
}

#search-form button {
	height: 60px;
	width: 10%;
	border-color: rgb(27, 38, 53);
	background: rgb(27, 38, 53);
	color: #ffffff;
}

.bar {
	border-radius: 5px;
	margin-top: 2.5%;
	border: 2px solid #000000;
	background-color: #ffffff;
	padding: 0;
}

.bar-description {
	margin-left: 2%;
}

.send-rsvp {
	cursor: pointer;
	font-size: 2em !important;
}

.credits {
	color: white;
	font-size: 1.5em;
	text-align: center;
	margin-top: 100px;
}

.rsvp {
	float: right;
	margin-right: 2%;
}