/****** Main Styling ******/
body {
	font-family: 'Nunito', sans-serif;
	min-height: 100%;
}

html {
  min-height: 100%;
}

.container { 
	width: 100%;
}

#welcome {
  background: URL('/public/img/night_background.png') no-repeat;
  background-size: 100%;
  color: #ffffff;
}

.welcome-container {
	position: relative;
	margin: 15% 0%;
}

.h1-pad {
	margin: 5%;
}

h1 {
	font-size: 3em;
	margin-left: 10%;
	margin-top: 5%;
}

h2 {
	margin-left: 20px;
	color: #727272;
}

a {
	color: #ffffff;
}

.menu, button {
	text-decoration: none;
	padding: 15px;
	margin: 20px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	font-size: 1.2em;
}

.menu:visited {
	color: #ffffff;
}

.menu:hover {
	color: #727272;
}

.menu:active {
	color: #727272;
}

#prompt {
	/* fallback for older browsers */
	background: rgb(229, 229, 229);

	/* for chrome, safari, ie, firefox */
	background: -webkit-linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	background: -moz-linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	background: -o-linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	background: linear-gradient(to bottom, #e5e5e5, #fcfcfc);
	height: 1000px;
	color: rgb(27, 38, 53);
}


#display-name {
	font-weight: 400;
}

#search-form input {
	height: 60px;
	width: 70%;
	position: relative;
	margin-left: 10%;
	font-size: 1.5em;
}

#search-form button {
	height: 60px;
	width: 10%;
	border-color: rgb(27, 38, 53);
	background: rgb(27, 38, 53);
	color: #ffffff;
}

#bars {
	margin-left: 10%;
}

.bar {
	float: left;
	width: 40%;
	margin: 2.5% 5% 2.5% 0%;
	border-radius: 10px;
	border: 2px solid #000000;
	background-color: #ffffff;
}

.bar-img {
	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.bar-description {
	margin-right: 10%;
	float: right;
}